* {
margin: 0;
padding: 0;
border: 0;
outline: none;
box-sizing: border-box;
background: transparent;
font-family: inherit;
}
a{
text-decoration: none;
}
a img {
border: none;
}

button,
a {
cursor: pointer;
color: inherit;
}

textarea {
resize: none;
}

button,
textarea,
select {
appearance: none !important;
border-radius: 0;
}

/* end of css reset */

body {
    display: grid;
    grid-template-rows: 25% auto;
    justify-items: center;
    gap: 18px;
    
    width: 100vw;
    height: 100vh;
    background-color: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    align-self: end;
    font-weight: 300;
    font-size: 36px;
    color: #006837;
    text-transform: uppercase;
}

div {
    max-width: 520px;
    height: fit-content;
    padding: 20px;
    font-weight: 500;
    font-size: 16px;
    color: #446745;
    background-color: #f9c582;
}    

p {
    line-height: 1.5em
}

label {
    font-style: italic;
}

input {
    width: 100%;
    max-width: 480px;
    height: 64px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
    color: #98a991;
    background-color: white;
    padding-inline-start: 20px;
}

button {
    position: fixed;
    right: 0;
    bottom: 0;

    width: 120px;
    height: 120px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 50%;
    background-color: #f9c582;
    font-size: 21px; 
    font-weight: 700;
    color: #006837;
    text-align: center;
}
    
@media screen and (max-width: 520px) {
    
    h1 {
        font-size: 24px;
    }

    div {
        width: 100%;
        padding-right: 20px;
    }

    input {
        width: calc(100vw - 40px);
        margin-left: auto;
        margin-right: auto;
    }
}
    